mixin messageItem(messageItem)
    l.item__item 
        p.item__message=messageItem.message
        p.item__nickname 
            span.item__by by
            span.item__nickname-text=messageItem.nickname