* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

.header {
  color: #fff;
  display: flex;
  gap: 25px;
  margin-top: 8vh;
  margin-left: 43px;

  &__logo {
    font-size: 100px;
  }

  &__question {
    display: flex;
    flex-direction: column;
    margin-top: 44px;
  }
}

.notice {
  display: flex;
  margin: 8vh 47px 24px;

  &__icon {
    margin-right: 8px;
  }
  & > p {
    color: #fff;
    font-size: 18px;
  }
}

.logo {
  position: absolute;
  top: 90px;
  right: 47px;
}

.count {
  color: #adee60;
  font-size: 18px;
  margin-right: 8px;
}

.wrapper {
  overflow: scroll;
  width: calc(100vw - 47px);
  margin-left: 47px;
  // position: absolute;mt
  // margin-top: 64px;
}

.item {
  &__list {
    list-style: none;
    // display: flex;
    // overflow: scroll;
    // width: 200%;
    // position: absolute;
  }

  &__item {
    display: inline-block;
    background-image: url('/static/images/item-bg.png');
    width: 435px;
    height: 463px;
    position: relative;
    background-size: cover;
  }

  &__message {
    position: absolute;
    top: 80px;
    left: 64px;
    font-size: 20px;
    // border: 1px solid #000;
    width: 300px;
  }

  &__nickname {
    position: absolute;
    bottom: 32px;
    right: 36.5px;

    &-text {
      font-size: 16px;
    }
  }

  &__by {
    font-size: 20px;
    margin-right: 18px;
  }
}

.form {
  display: none;
}

@media screen and (max-width: 480px) {
  body {
    background-color: #fff;
  }
  .header,
  .logo,
  .notice,
  .wrapper {
    display: none;
  }

  .form {
    display: block;
    &__inner {
      background: rgba(129, 68, 248, 0.05);
      border: 1px solid rgba(129, 68, 248, 0.5);
      width: 95vw;
      margin: 5vw auto;
      padding: 25px;
      height: 100vw;
      // margin-top: 5vw;
    }

    &__textarea {
      background: none;
      width: 100%;
      height: 75vw;
      border: none;

      &::placeholder {
        color: rgba(129, 68, 248, 0.2);
      }
    }
    &__nickname {
      display: flex;
      justify-content: end;
      gap: 16px;
    }

    &__input {
      width: 20vw;
      background: none;
      border: none;
      &::placeholder {
        color: rgba(129, 68, 248, 0.2);
      }
    }
    span {
      font-size: 20px;
    }

    &__control {
      width: 95vw;
      margin: auto;
      display: flex;
      justify-content: space-between;
    }

    &__button {
      // background: #000;
      border-radius: 0;
      width: 45vw;
      border: none;
      font-size: 16px;

      &:first-child {
        height: 46px;
        background: #f5f5f5;
        color: #7e7e7e;
      }

      &:last-child {
        background: #8144f8;
        color: #fff;
      }
    }
  }
}
